:root {
  --linen:         #F2E8DD;
  --oxford-navy:   #003366;
  --steel-blue:    #2484C6;
  --apricot-cream: #F0C682;
  --olive-leaf:    #496936;
  --cell: 44px;
}

.top-title {
    margin-top: 120px;
}

.docs{
    width: 60%;
    display: flex;
    align-self: center;
    padding-bottom: 0%;
}

#copyrightChecklist{
    width: 80%;
    display: flex;
    align-self: center;
    padding-bottom: 0%;
}

.documentationText{
    font-family: 'Playfair Display', serif;
    font-size: clamp(20px, 3vw, 30px);
    padding: 20px;
    color: var(--oxford-navy);
    display: flex;
    align-self: center;
    padding-bottom: 2%;
}