:root {
  --linen: #F2E8DD;
  --oxford-navy: #003366;
  --steel-blue: #2484C6;
  --apricot-cream: #F0C682;
  --olive-leaf: #496936;
}


#gameButtonHolder{
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 100%;
    background-color: var(--navy);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 2%;
}

#gameTitle{
    font-family: 'Playfair Display', serif;
    color: var(--linen);
    font-size: 35px;
    display: flex;
    padding: 20px;
    text-align: center;

}

#games{
    display: flex;
    gap: clamp(12px, 3vw, 50px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gameButton{
    display: flex;
    align-items: center;
    width: clamp(400px, 40vw, 800px);
    padding: clamp(20px, 2vw, 18px) clamp(16px, 3vw, 28px);
    font-size: clamp(13px, 1.5vw, 22px);
    background: var(--navy);
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: var(--linen);
    border-radius: 6px;
    justify-content: center;
    border: 1.5px solid var(--apricot-cream);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: border-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
    box-sizing: border-box;
    gap: 10px;
}

.gameButton:hover {
    border-color: var(--apricot-cream);
    color: var(--apricot-cream);
    background-color: rgba(201, 168, 76, 0.18);
    transform: translateY(-4px);
}

.gameButton:hover::before {
    opacity: 1;
}


@media (max-width: 768px) {


    #gameTitle {
        text-align: center;
        font-size:  clamp(20px, 3vw, 30px);
    }

    .gameButton {
        width: 100%;
        font-size: clamp(11px, 3vw, 15px);
        padding: 14px 20px;
    }

}
